{% extends '::base_with_left_sidebar.html.twig' %}
{% block content %}
    <div class="blog-post">
        <table class="table table-responsive table-striped table-hover table-bordered">
            <caption>
                <div class="post-title">
                    <h3>Author list</a></h3>
                </div>
            </caption>
            <tr class="text-center">
                <th class="column col-sm-1 text-center" colspan="2"><a href="#"><i class="glyphicon glyphicon-plus"></a></th>
                <th class="column col-sm-3 text-center">Comment</th>
                <th class="column col-sm-2 text-center">commentator</th>
                <th class="column col-sm-1 text-center">Created</th>
                <th class="column col-sm-1 text-center">Updated</th>

            </tr>
            {% for comment in comments %}
                <tr>
                    <td class="text-center"><a href="#"><i class="glyphicon glyphicon-list-alt"></a></td>
                    <td class="text-center"><a href="#"><i class="glyphicon glyphicon-trash"></a></td>
                    <td>{{ comment.message }}</td>
                    <td>{{ comment.commentator.name }}</td>
                    <td>{{ comment.createdAt|date("d M, Y") }}</td>
                    <td>{{ comment.updatedAt|date("d M, Y") }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% include '::pagination.html.twig' %}
{% endblock %}