{% extends '::base.html.twig' %}
{% block page %}
    <div class="col-sm-offset-3 col-sm-6">
        <div class="blog-post">
            {% block content %}
                <h1>Page content</h1>
            {% endblock %}
        </div>
    </div>
{% endblock %}