{% extends '::base_with_right_sidebar.html.twig' %}
{% block content %}
    <div class="blog-post">
        {% include '::article_header.html.twig' %}
        <div class="post-content">
            {{ article.content }}
        </div>
        {% include '::article_footer.html.twig' %}
    </div>
{% endblock %}