{% extends '::base_with_left_sidebar.html.twig' %}
{% form_theme editForm 'bootstrap_3_layout.html.twig' %}
{% block content %}
    <div class="blog-post">
        <h4>Edit article</h4>
        <div>
            {{ form_start(editForm) }}
            {{ form_widget(editForm) }}

            <div class="form-group">
                <button type="submit" class="btn btn-large pull-right">Save</button>
            </div>
            <div class="clearfix"></div>
            {{ form_end(editForm) }}
        </div>
    </div>
{% endblock %}