{% extends '::base_with_left_sidebar.html.twig' %}
{% block content %}
    <div class="blog-post">
        <table class="table table-responsive table-striped table-hover table-bordered">
            <caption>
                <div class="post-title">
                    <h3>Article list</h3>
                </div>
            </caption>
            <tr class="text-center">
                <th class="column col-sm-1 text-center" colspan="2"><a href="#"><i class="glyphicon glyphicon-plus"></i></a></th>
                <th class="column col-sm-3 text-center">Article title</th>
                <th class="column col-sm-2 text-center">Author</th>
                <th class="column col-sm-1 text-center">Created</th>
                <th class="column col-sm-1 text-center">Updated</th>

            </tr>
            {% for article in articles %}
                <tr>
                    <td class="text-center"><a href="#"><i class="glyphicon glyphicon-list-alt"></i></a></td>
                    <td class="text-center"><a href="#"><i class="glyphicon glyphicon-trash"></i></a></td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.author.nickname }}</td>
                    <td>{{ article.createdAt|date("d M, Y") }}</td>
                    <td>{{ article.updatedAt|date("d M, Y") }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% include '::pagination.html.twig' %}
{% endblock %}